@function map-get-or-default($map, $key, $default-value) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  }

  @return $default-value;
}

@function map-get-strict($map, $key) {
  @if map-has-key($map, $key) {
    @return map-get($map, $key);
  }

  @error "'#{$key}' is not in the map: #{$map}.";
}

@function color($color, $shade: base) {
  // Make sure the parameter is a string and not a color.
  $color: '#{$color}';
  @return map-get-strict(map-get-strict($colors, $color), $shade);
}
