@mixin text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@mixin typography($preset: body) {
  @each $key, $value in map-get-strict($typography-map, $preset) {
    #{$key}: $value;
  }
}
