@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,400i,600,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700,900&display=swap');
@import url('https://fonts.googleapis.com/css?family=Fira+Code:400,700&display=swap');

$typography-sans-serif-title: 'Open Sans', 'Arial';
$typography-sans-serif-body: 'Roboto', 'Arial';
$typography-monospace-body: 'Fira Code', 'monospace';

$typography-map: (
  display: (
    font-family: $typography-sans-serif-title,
    font-size: 32px,
    font-weight: 700,
  ),
  header: (
    font-family: $typography-sans-serif-title,
    font-size: 20px,
    font-weight: 700,
  ),
  sub-header: (
    font-family: $typography-sans-serif-title,
    font-size: 16px,
    font-weight: 600,
  ),
  body: (
    font-family: $typography-sans-serif-body,
    font-size: 14px,
    font-weight: 400,
  ),
  body-display: (
    font-family: $typography-sans-serif-body,
    font-size: 12px,
    font-weight: 300,
    text-transform: uppercase,
  ),
  body-emphasis: (
    font-family: $typography-sans-serif-body,
    font-size: 14px,
    font-weight: 500,
  ),
  caption: (
    font-family: $typography-sans-serif-body,
    font-size: 12px,
    font-weight: 400,
  ),
  button: (
    font-family: $typography-sans-serif-title,
    font-size: 14px,
    font-weight: 700,
    text-transform: uppercase,
  ),
  code: (
    font-family: $typography-monospace-body,
    font-size: 14px,
    font-weight: 400,
  ),
  code-emphasis: (
    font-family: $typography-monospace-body,
    font-size: 14px,
    font-weight: 700,
  ),
);
