.Footer {
  height: $footer_height;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: color(secondary, light);
  background-color: color(neutral, dark);
  margin-top: auto;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.Footer__link {
  @extend %reset-anchor-styles;
  text-decoration: underline;
}
